*{
    box-sizing: border-box;
    font-family: 'Kantumruy Pro', sans-serif;
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #f0f0f099;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 44px -18px rgba(0,0,0,0.62);
    border: 1px solid rgba(0, 0, 0, 0.118);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 10;
}

.img{
    height: 80%;
    width: 45%;
}

.img > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.calendar-container{
    /* background-color: beige; */
    height: 80%;
    width: 45%;
}

h1{
    color: #597A9D;
    font-size: 32px;
}

.calendar{
    display: grid;
    width: 100%;
    height: 95%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
    align-items: center;
    justify-items: center;
}

.calendar > p{

    font-weight: bold;
    font-size: 18px;
}

.txt-red{
    color: red;
}

.day{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded{
    border-radius: 50%;
    padding: 10px;
}

.border{
    border: 1px solid #adadad;
}

.txt-gray{
    color: #adadad;
}

.shadow{
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.1);
}

.txt-bg-day{
    background-color: rgb(247, 247, 247);
}

.hover:hover{
    box-shadow: 0px 0px 21px 14px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;    
}


.border-red:hover{
    border: 1px solid red;
}

p{
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.circle-right{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #4d667d;
    top: -200px;
    border-radius: 50%;
    right: 0;
    z-index: 1;
}

.circle-left{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #4d667d;
    bottom: -200px;
    border-radius: 50%;
    left: -50px;
    z-index: 1;
}